<h2 >Kontakt.</h2>

<address>
     Ilica 1<br />
    Zagreb, Hrvatska 10000<br />
    <abbr title="Telefon">T:</abbr>
    123.456.789
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:Support@example.com">podrska@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
</address>